@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Open+Sans:wght@300;400;700&display=swap');
html {
    font-family: 'Open Sans', sans-serif;
    --bg-color: #FFFFFF;
    --main-color: #EB6C27;
    --white-color:white;
    --text-color:#3A3A3A;
}

.map-img{
    width: 100%;
    margin-top: 2em;
}

.contact-list{
    margin-left: 2.5em;
}

.contact-list, .content-section__info{
    margin: 0  2em 1em;
}

.contact-list__map::before
{
    background-image: url(../media/icons/map.svg);
}

.contact-list__mail::before{
    background-image: url(../media/icons/mail.svg);
}

.contact-list__mail, .contact-list__map, .contact-list__phone{
    position: relative;
}  

.contact-list__phone::before, .contact-list__mail::before, .contact-list__map::before{
    position: absolute;
    border-radius: 50%;
    top: 0;
    bottom: 0;
    margin: auto 0;
    content: '';
    width: 3em;
    height: 3em;
    background-color: var(--main-color);
    background-size:50%;
    background-position: center;
    background-repeat: no-repeat;
    left:-3.25em;
}

.contact-list__phone::before{
    background-image: url(../media/icons/phone.svg);
}

.submission__form{
    padding: 0;
    margin: 0;
}

/* FORM */
.form__content{
    margin:0 2em;
}

.heading{
    font-size: 1.5em;
}

.form-text {
    display:block;
    padding: 1rem 0 .25rem;
}       
.input-form, textarea {
    width: 100%;
    border: 1px solid var(--main-color);
    padding: 1em 0;
}

.message {
    padding: 5em 0;
}

form .btn{
    margin: auto;
    display: block;
    width: fit-content;
}


@media only screen and (min-width:961px){
    .contact-section{
        display: grid;
        grid-template-areas: "info info"
        "contact img";
    }

    .content-section__info{
        grid-area: info;
        text-align: center;
    }

    .contact-section img{
        grid-area: img;
        width: 50%;
        justify-self: end;
    }
    .contact-list{
        grid-area: contact;
        align-self: center;
        justify-self: end;
    }
    .contact-list, .content-section__info{
        margin: 0 ;
    }


    .input-form, textarea {
        width: 50%;
    }

    .form__content{
        margin:0 15em 0 10em;
    }
}