@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Open+Sans:wght@300;400;700&display=swap');
html {
    font-family: 'Open Sans', sans-serif;
    --bg-color: #FFFFFF;
    --main-color: #EB6C27;
    --white-color:white;
    --text-color:#3A3A3A;
}

.text--orange{
    color: var(--main-color);
}

body{
    background-color: var(--bg-color);
}

h2{
    font-size: 22px;
}

.header-h1{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    text-align: center; 
    color: var(--bg-color);
}

h3{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
}

p{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

.btn{
    display: inline-block;
    text-decoration: none;
    padding: 0.75em 2.5em;
}

.btn--light{
    background-color:var(--white-color) ;
    color: var(--main-color);
}

.btn--dark{
    background-color: var(--main-color);
    color: var(--white-color);

}

.btn--dashed{
    color: var(--main-color);
    border: 1px dashed var(--main-color);
}   

.btn--center{
    margin: auto;
    display: block;
    width: fit-content;
}




/* HEADER*/
header:has(.header-h1){
    position: relative;
    background: linear-gradient(0deg, rgba(36, 36, 36, 0.4), rgba(36, 36, 36, 0.4)),
    url(../media/pageheader-1920w.jpg);
    background-size:cover;
    background-position: center;    
    background-repeat: no-repeat;
    min-height: 50vh;
    width: 100%;    
}

header{
    position: relative;
    background: linear-gradient(0deg, rgba(36, 36, 36, 0.4), rgba(36, 36, 36, 0.4)),
    url(../media/pageheader-1920w.jpg);
    background-size:cover;
    background-position: center;    
    background-repeat: no-repeat;
    min-height: 20vh;
    width: 100%;    
}

.header-h1{
    width: 100%;
    position: absolute;
    bottom:1em;
    left: 50%;
    transform: translate(-50%);
}




h1 .podnadpis{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.7em;
    align-items: center;
    text-align: center;  
    color: var(--bg-color);
}



/* NAVBAR */
.navbar{
    height: 5em;
    width: 100%;    
    z-index: 50;
    background-color: var(--bg-color);
    margin-bottom: 6em;
}


.navbar__logo{
    display: inline-block;
    color: var(--white-color);
    font-size: 60px;
    margin-left: 0.6em;
}
.navbar__menu {
    width: 90%;
    position: absolute;
    background-color: var(--main-color);
    overflow: hidden;
    max-height: 0;
    z-index: 100;
    margin-left: 50%;
    transform: translate(-50%);
}
.navbar__menu a{
    display: block;
    text-align: left;
    font-size: 1em;
    padding: .8em;
    padding-left:0;
    color: var(--bg-color);
    text-decoration: underline;

}

.navbar__menu li{
    list-style-type: none;
}


/* HAMBURGER */


.menu-text{
    font-size: 0.75rem;
    position: absolute;
    top: 0em;
    right: 2em;
}

.hamb{
    cursor: pointer;
    float: right;
    padding: 2.5em 1.25em;
}
.hamb-line {
    background: linear-gradient(90deg, #EB6C27 0%, #FFBE9A 100%);
    display: block;
    height:  0.5em;
    position: relative;
    width: 2.8em;
}
.hamb-line::before,
.hamb-line::after{
    background: linear-gradient(90deg, #EB6C27 0%, #FFBE9A 100%);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width:  100%;
}


.hamb-line::before{
    top: 0.7em;
}
.hamb-line::after{
    top: -0.7em;
}
.burger-menu {
    display: none;
}

.burger-menu:checked ~ menu{
    max-height: fit-content;
}
.burger-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}
.burger-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;
}
.burger-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}

/* SERVICES */

.services .services-article__heading{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    color: var(--text-color);
}

.services-article p{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

.services{
    margin: 4em 1.5em 0;
}

.service__img{
    width: 100%;    
    height: 8.5em;
    object-fit: cover;
    margin: 0;
    padding: 0;
    margin-top: 2.5em;

}

.services-container h2{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    margin: 1em 0 0.6em 0;

}
.services-container p{
   margin: 0 0 1.125em 0;
}

.services-container {
    margin-bottom:3em; 
 }

.img-left{
    border-radius: 0px 0px 40px 0px;
    grid-area: "left";
}
.img-right{
    border-radius: 0px 0px 0px 40px;
    grid-area: "right";
}


/* THRUST HERO */

.thrust-hero{
    height: 12em;
    background:linear-gradient(180deg, rgba(61, 61, 61, 0.7) 100%, rgba(61, 61, 61, 0.7) 100%), url(../media/background-CTAblock-4460w.jpg);
    background-size: 200%;
    width: 100%;
    background-position: center;
    background-repeat:no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom:2em;
}

.thrust-hero__container{
    width: calc(100% - 2em);
    margin: 0 1em;
}

.thrust-hero p{
    align-self: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    color: var(--white-color);
}



/* REFERENCES */

.references{
    margin: 0 1.5em;
}




.reference-container__img{
    width: 100%;
}
.reference-container{
    text-align: center;
}

.reference-container a{
    text-decoration: none;
}


.reference-container h2{
    margin: 0.6em 0 0 0;
    color: black;
}

.reference-container--small{
    font-size: 12px;
    color: black;
    font-weight: 400;
}

.reference-container--big{
    font-size: 25px;
    font-weight: 700;
    margin: 0;
    color: black;
 }

/* FOOTER */

footer{
    margin-top: 6.25em;
    padding: 3.8em 1em 2.5em;
    text-align: center;
    background-color: var(--main-color);
}

footer h2, footer p{
    width: 100%;
    color: var(--white-color);
}
footer h2{
    font-size: 22px;
}


.footer-btn{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    text-decoration: none;
    display: inline-block;
    padding: 1.25em 3em;
}


@media only screen and (min-width:961px){
    /*header*/
    header:has(.header-h1){
        min-height: 90vh; 
    }
    header{
        min-height: 20vh;  
    }

    .services{
        margin: 9em 1.5em 0;
    }

    .header-h1 .podnadpis{
        font-size: 60px;        
    }

    .header-h1{
       font-size: 120px;
       bottom:0;
    }
/*services*/
    h2, .services .services-article__heading{
        font-size:60px;
    }
    .services-article {
        text-align: center;
        width: 50%;
        margin: 0 auto;
    }

    .services-article p{
        font-size: 20px;
    }
    .services{
        margin: 4em 12.5em 12em;
    }

    .service__content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 6em;
    }

    .service__content__info{
        align-self: center;
    }

    .img-left{
        grid-column: 1;
        grid-row: 1;
    }
    .img-right{
        grid-column: 2;
        grid-row: 1;
    }

    .service__img{
        height: 30vw;
    }

    .thrust-hero{
        padding: 0 12em;
        height: 25em;
        width: auto;
    
    }

/* references*/

    .references h2{
        text-align: center;
    }

    .references__info{
        margin: 0 15vw 5em;
    }

    .reference-container__img{
        width: 30vw;
    }


    .reference-flex-wrapper{
        display: flex;
        justify-content: center;
        gap: calc(10vw/3);
    }

    .reference-container{
        position: relative;
     }

     .reference-container__text{
        color: var(--white-color);
        width: 100%;
        height: 100%;
        display: none;
        position: absolute;
        background-color: var(--main-color);
        bottom: 0;
        z-index: 998;
        transition: all 1s;
        opacity: 0;
        display: flex;
        flex-direction: column;
        align-self: center;
        justify-content: center;
     }

     .reference-container:hover .reference-container__text{
        cursor: pointer;
        opacity: 1;
     }



     .references .btn{
        margin-top: 2em;
     }

     .hamb, .menu-text{
        display: none;
     }
    
     /* NAVBAR */
     .navbar{
        position: relative;
        top: 30px;
        width: 80%;
        background-color: var(--bg-color);
        left: 50%;
        transform: translate(-50%);
        margin-bottom: 0;
     }

     .hamb {
        display: none;
    }
    .side-menu {
        display: none;
    }

     .navbar__menu {
            display: block;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            z-index: 999;
            max-height: none;
            background-color: transparent;
            width: fit-content;
            left: unset;
            margin: 0;
    }

    .navbar__menu li{
        display: flex;
        align-items: center;
        padding: 1em;
    }

    .navbar__menu li:hover{ 
        background-color: var(--main-color);
    }
   
    .navbar__menu a{
        text-decoration: none;
        text-transform: uppercase;
        color: var(--text-color);
        text-align: center;
        padding: 0;
    
    }

    .navbar__menu li:hover a{
        color: var(--white-color);
    
    }

    .navbar__menu li:active a{
        color: var(--white-color);
    }
    .navbar__menu{
        color: var(--main-color);
    
    }

    .navbar__container {
        display: flex;
        justify-content: flex-end;
        width: fit-content;
        float: right;
        list-style: none;
        height: 80px;   
    }

}   

@media only screen and (min-width:760px){
/*services*/
.content-section__info h1, .services .services-article__heading{
    font-size:60px;
}
.services-article {
    text-align: center;
    margin: 0 auto;
}

.services-article p{
    font-size: 20px;
}
.services{
    margin: 4em 3em 12em;
}

.service__content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3em;
}

.service__content__info{
    align-self: center;
}

.service__content__info p{
    font-size: 16px;
}


.img-left{
    grid-column: 1;
    grid-row: 1;
}
.img-right{
    grid-column: 2;
    grid-row: 1;
}

    .service__img{
    height: 18vw;
}

.thrust-hero{   
    padding: 0 5em;
    height: 25em;
    width: auto;
}

.thrust-hero__container p{
    font-size: 30px;
}

.thrust-hero__container .btn{
    font-size: 20px;
    padding: 1em 2.75em;
}


/*references*/
.references__info{
   text-align:center;
}
.references{
    margin: 0 3em;
}

.references__info h2{
    font-size: 30px;
 }

 .references__info p{
    font-size: 18px;
 }

 .reference-container--big{
    font-size: 28px;
    color: var(--white-color);
 }
 

.reference-container--small{
    font-size: 20px;
    color: var(--white-color);
 }


}

@media only screen and (min-width:1281){

}