.reference-section__img{
    width: 100%;
}

@media only screen and (min-width:961px){
    
    .reference-gallery{
        margin: 3em auto;
        display: grid;
        grid-auto-flow: dense;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5em;
    }

    .reference-section{
      text-align: center;
    }
    p{
        font-size: 16px;
    }
    

}